h1{
    text-align: center;
    font-size: 34px;
    color: blue;
}
h2{
    font-size: 24px;
}
p{
    font-size: 14px;
}
ul{
    font-size: 14px;
    font-style: italic;
}
a{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: red;
}
a:visited{
    color: teal;
}
.about{
    background: #FFFF00;
}
.about h2, .about span{
    color: red;
}
.about span{
    font-size: 24px;
}
.purpose{
    background: #FFD700;
}
.purpose h2{
    color: blue;
}
.program{
    background: #DAA520;
}
.program h2{
    color: green;
}
.contacts{
    background: #FFA500;
}
.contacts h2{
    color: purple;
}